@import "./mix.scss";

.💄 {
    @include pick-container;

    .🕐 {
        position: absolute;
        right: -55px;
        top: 30%;
        transform: translateY(-30%);
    }

    .🕑 {
        position: absolute;
        left: 50%;
        top: -70px;
        transform: translateX(-50%);
    }

    .🕒 {
        position: absolute;
        right: -20px;
        bottom: -55px;
    }

    .🕓 {
        position: absolute;
        left: -20px;
        bottom: -55px;
    }

    .🕔 {
        position: absolute;
        left: -55px;
        top: 30%;
        transform: translateY(-30%);
    }

}