@import "./mix.scss";

.💋 {
    @include pick-container;

    .🕐 {
        position: absolute;
        left: -50px;
        top: -50px;
    }

    .🕑 {
        position: absolute;
        right: -50px;
        top: -50px;
    }

    .🕒 {
        position: absolute;
        left: 50%;
        bottom: -50px;
        transform: translateX(-50%);
    }

}

@media screen and (min-width: 1024px)  { 
    .💋 {
        @include enlarge-pick-c;

        .🍬 {
            @include enlarge-pick-outer;
        
            .🍪 {
                @include enlarge-pick-inner;
        
                img {
                    @include enlarge-pick-icon;
                }
            }
        }
      }
}