.👻{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;


    .📜{
        height: 100%;
        color: hsl(229, 25%, 31%);
        font-weight: bold;
        font-size: x-large;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    svg {
        height: 50px;
        width: 50px;
    }

    svg:hover {
        cursor: pointer;
    }
}