.👻{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;


    .📜 {
        height: 100%;
        color: hsl(229, 25%, 31%);
        font-weight: bold;
        font-size: x-large;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    svg {
        height: 50px;
        width: 50px;
    }

    svg:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 1024px)  { 
    .👻 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 70%);

        .📜 {
            position: relative;
            height: 400px;
            width: 400px;
            border-radius: 10px;
            padding: 10px 20px;

            div:first-child {
                align-self: flex-start;
            }

            .✖️ {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
      }
}