.🔍 {
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 5px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 250px;
    height: 100px;
    padding: 10px 20px;

    .🔎{
        text-align: center;
        background-color: white;
        padding: 10px 20px;
        border-radius: 5px;
        color: hsl(229, 64%, 46%);

        span {
            font-size: xx-large;
        }
    }
}