.App {
  position: relative;
    background-color: rgb(63, 55, 214);
    background: radial-gradient(circle, hsl(214, 47%, 23%) 25%, hsl(237, 49%, 15%));
    min-height: 100vh;
    text-align: center;
    color: white;
    text-transform: uppercase;

    button:hover {
      cursor: pointer;
    }
  }